<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=xse, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
</head>

<body>
    <section class="wrap features-section">
        <div class="content-title center">
            <h2 class="fixed-margin main-text"><span class="c-blue">Our</span> Features</h2>
            <h6 class="fixed-margin secondary-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, eaque.</h6>
        </div>
        <div class="container-flex items-container">
            <div class="item p-5">
                <div class="item-icon">
                    <img src="../assets/icons/right-arrow.png" alt="" height="50px">
                </div>
                <h4 class="fixed-margin feature-title">Feature 1</h4>
                <p class="fixed-margin feature-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam illum, quos corrupti commodi
                    tenetur labore, recusandae error accusamus iste minima est blanditiis ea earum asperiores inventore
                    enim voluptas. Dicta!</p>
            </div>

            <div class="item p-5">
                <div class="item-icon">
                    <img src="../assets/icons/right-arrow.png" alt="" height="50px">
                </div>
                <h4 class="fixed-margin feature-title">Feature 2</h4>
                <p class="fixed-margin feature-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam illum, quos corrupti commodi
                    tenetur labore, recusandae error accusamus iste minima est blanditiis ea earum asperiores inventore
                    enim voluptas. Dicta!</p>
            </div>

            <div class="item p-5">
                <div class="item-icon">
                    <img src="../assets/icons/right-arrow.png" alt="" height="50px">
                </div>
                <h4 class="fixed-margin feature-title">Feature 3</h4>
                <p class="fixed-margin feature-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam illum, quos corrupti commodi
                    tenetur labore, recusandae error accusamus iste minima est blanditiis ea earum asperiores inventore
                    enim voluptas. Dicta!</p>
            </div>

        </div>

        <div class="container-flex items-container">
            <div class="item p-5">
                <div class="item-icon">
                    <img src="../assets/icons/right-arrow.png" alt="" height="50px">
                </div>
                <h4 class="fixed-margin feature-title">Feature 1</h4>
                <p class="fixed-margin feature-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam illum, quos corrupti commodi
                    tenetur labore, recusandae error accusamus iste minima est blanditiis ea earum asperiores inventore
                    enim voluptas. Dicta!</p>
            </div>

            <div class="item p-5">
                <div class="item-icon">
                    <img src="../assets/icons/right-arrow.png" alt="" height="50px">
                </div>
                <h4 class="fixed-margin feature-title">Feature 2</h4>
                <p class="fixed-margin feature-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam illum, quos corrupti commodi
                    tenetur labore, recusandae error accusamus iste minima est blanditiis ea earum asperiores inventore
                    enim voluptas. Dicta!</p>
            </div>

            <div class="item p-5">
                <div class="item-icon">
                    <img src="../assets/icons/right-arrow.png" alt="" height="50px">
                </div>
                <h4 class="fixed-margin feature-title">Feature 3</h4>
                <p class="fixed-margin feature-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam illum, quos corrupti commodi
                    tenetur labore, recusandae error accusamus iste minima est blanditiis ea earum asperiores inventore
                    enim voluptas. Dicta!</p>
            </div>

        </div>
    </section>

</body>

</html>